In [18]:
import pandas as pd

In [20]:
energy_use2020 = pd.read_csv("energy_distribution_data_CY2020.csv")
energy_use2020

,BUILDING_NUMBER,BUILDING_NAME_LONG,BUILDING_GROUP_LEVEL1,CLUSTER_NUM,BUILDING_TYPE,BUILDING_USE,SITE,CAMPUS_SECTOR,YEAR_CONST_BEGAN,YEAR_OCCUPIED,...,NUMBER_OF_UNITS,UNIT_OF_MEASURE,MMBTU,kBTU,GHG,PI_CONNECTION,METER_STATUS,START_DATE,END_DATE,START_DATE_USE
0,1,Henry L Pierce Engineering Laboratory,Non-CUP,Lab & Mixed Use,ACADEMIC,AER,MIT,MAIN GROUP,1913.0,1917.0,...,17439.0,THR,209.268000,209268.000,6.896741,Y,Chilled Water Only,2020-02-01,2020-02-29,2020-01-01
1,1,Henry L Pierce Engineering Laboratory,Non-CUP,Lab & Mixed Use,ACADEMIC,AER,MIT,MAIN GROUP,1913.0,1917.0,...,44894.0,KWH,153.223222,153223.222,13.483644,Y,Chilled Water Only,2020-12-01,2020-12-31,2020-11-01
2,1,Henry L Pierce Engineering Laboratory,Non-CUP,Lab & Mixed Use,ACADEMIC,AER,MIT,MAIN GROUP,1913.0,1917.0,...,27118.0,THR,325.416000,325416.000,10.724572,Y,Chilled Water Only,2020-09-01,2020-09-30,2020-08-01
3,1,Henry L Pierce Engineering Laboratory,Non-CUP,Lab & Mixed Use,ACADEMIC,AER,MIT,MAIN GROUP,1913.0,1917.0,...,16723.0,THR,200.676000,200676.000,6.613579,Y,Chilled Water Only,2020-10-01,2020-10-31,2020-09-01
4,1,Henry L Pierce Engineering Laboratory,Non-CUP,Lab & Mixed Use,ACADEMIC,AER,MIT,MAIN GROUP,1913.0,1917.0,...,13409.0,THR,160.908000,160908.000,5.302965,Y,Chilled Water Only,2021-01-01,2021-01-31,2020-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4133,WW15,Building WW15,Non-CUP,Support Dominant,SERVICE,AER,MIT,WESTWEST,1969.0,NaN,...,37.0,THM,3.799900,3799.900,0.202090,N,No Individual Metering,2020-07-01,2020-07-31,2020-06-01
4134,WW15,Building WW15,Non-CUP,Support Dominant,SERVICE,AER,MIT,WESTWEST,1969.0,NaN,...,3450.0,THM,354.315000,354315.000,18.843535,N,No Individual Metering,2020-02-01,2020-02-29,2020-01-01
4135,WW15,Building WW15,Non-CUP,Support Dominant,SERVICE,AER,MIT,WESTWEST,1969.0,NaN,...,3311.0,THM,340.039700,340039.700,18.084331,N,No Individual Metering,2020-03-01,2020-03-31,2020-02-01
4136,WW15,Building WW15,Non-CUP,Support Dominant,SERVICE,AER,MIT,WESTWEST,1969.0,NaN,...,938.0,THM,96.332600,96332.600,5.123257,N,No Individual Metering,2020-06-01,2020-06-30,2020-05-01
4137,WW15,Building WW15,Non-CUP,Support Dominant,SERVICE,AER,MIT,WESTWEST,1969.0,NaN,...,2109.0,THM,216.594300,216594.300,11.519135,N,No Individual Metering,2020-04-01,2020-04-30,2020-03-01

In [21]:
energy_use2020.groupby("BUILDING_NUMBER").mean()

,YEAR_CONST_BEGAN,YEAR_OCCUPIED,LATITUDE_WGS,LONGITUDE_WGS,BUILDING_HEIGHT,NUM_OF_ROOMS,EXT_GROSS_AREA,ASSIGNABLE_AREA,NON_ASSIGNABLE_AREA,BLDG_SRV,...,SPECIAL,STUDY,SUPPORT,UNCLASS,USEABLE_AREA,STRUCT_AREA,NUMBER_OF_UNITS,MMBTU,kBTU,GHG
BUILDING_NUMBER,,,,,,,,,,,,,,,,,,,,,
1,1913.0,1917.0,42.358086,-71.092357,81.4,404.0,116038.74,75939.28,29171.29,2154.71,...,0.0,0.00,107.63,0.00,105110.57,10928.17,25892.083333,365.970445,3.659704e+05,21.530937
10,1913.0,1916.0,42.359677,-71.092016,149.2,571.0,144463.46,85711.37,42925.23,1476.08,...,0.0,21986.92,360.39,0.00,128636.60,15826.86,46970.972222,618.389019,6.183890e+05,36.099985
11,1927.0,1928.0,42.359522,-71.092773,72.5,189.0,26777.38,19086.24,4860.08,14.00,...,0.0,0.00,2814.91,0.00,23946.32,2831.06,23251.333333,234.042285,2.340423e+05,10.311094
12,NaN,NaN,NaN,NaN,0.0,373.0,237776.90,94642.14,116676.64,2078.16,...,0.0,0.00,1348.56,0.00,211318.78,26458.12,147735.646062,1456.222945,1.456223e+06,81.305714
13,1963.0,1965.0,42.359944,-71.092552,69.1,578.0,183539.92,95795.57,72485.61,2522.57,...,0.0,0.00,741.04,394.21,168281.18,15258.74,170587.875125,1556.061635,1.556062e+06,94.139371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
W91,1947.0,1949.0,42.354324,-71.104426,40.7,170.0,35748.48,19515.62,12464.48,509.67,...,0.0,0.00,7103.41,0.00,31980.10,3768.38,151555.708292,634.889902,6.348899e+05,51.633994
W92,NaN,1999.0,42.354920,-71.104617,32.1,347.0,86521.66,72520.95,7803.84,1661.14,...,0.0,0.00,25494.25,0.00,80324.79,6196.87,105124.208333,412.783348,4.127833e+05,34.189216
W97,NaN,NaN,NaN,NaN,0.0,60.0,30550.79,18065.62,5821.34,745.70,...,0.0,0.00,345.13,0.00,23886.96,6663.83,11156.083375,87.121107,8.712111e+04,5.880854
W98,NaN,NaN,42.353955,-71.106645,91.0,553.0,82624.13,47561.94,25282.27,2322.09,...,0.0,0.00,113.51,0.00,72844.21,9779.92,39795.458750,291.345712,2.913457e+05,19.967531
WW15,1969.0,NaN,42.355361,-71.109470,16.0,108.0,42145.75,37522.58,2797.37,652.34,...,0.0,0.00,25527.61,0.00,40319.95,1825.80,9557.500000,99.546850,9.954685e+04,6.333582